.banner {
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner-text {
  padding: 150px 0 35px 0;
}
.banner-heading {
  font-family: "Lobster", cursive;
  font-size: 75px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 30px;
  color: #fff;
}
.banner-sub-heading {
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

.btn-banner {
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.text-intro {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}
@media (max-width: 500px) {
  .banner-heading {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .banner-sub-heading {
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .banner-text {
    padding: 25px 0 25px 0;
  }
  .banner-sub-heading {
    font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
  }
}
